.cetak-card{
    background:#dfe5ee;
    border:2px solid #2196f3;
    border-radius:20px;
    min-height:96vh;
    padding:18px;
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.cetak-card .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.cetak-card .card-header h2{
    font-size:24px;
    font-weight:bold;
    color:#0d3475;
}

/* RIGHT */
.cetak-card .header-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:8px;
}

.cetak-card .badge{
    background:white;
    padding:12px 20px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
    font-size:14px;
}

.cetak-card .btn-kembali{
    background:#beb7aa;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    color:black;
    font-size:14px;
}

/* MENU CETAK */
.cetak-card .cetak-menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:70vh;
    gap:25px;
}

/* BUTTON */
.cetak-card .btn-cetak-menu{
    width:220px;
    text-align:center;
    background:#4e95bd;
    color:white;
    text-decoration:none;
    padding:14px;
    border-radius:8px;
    font-size:18px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
}

.cetak-card .btn-cetak-menu:hover{
    opacity:.9;
}