/* CARD */
.cetak-card{
    background:#dfe5ee;
    border:2px solid #2196f3;
    border-radius:20px;
    min-height:96vh;
    padding:18px;
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.cetak-card .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.cetak-card .card-header h2{
    font-size:24px;
    font-weight:bold;
    color:#0d3475;
}

/* RIGHT */
.cetak-card .header-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:8px;
}

/* BADGE */
.cetak-card .badge{
    background:white;
    padding:12px 20px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
    font-size:14px;
}

/* KEMBALI */
.cetak-card .btn-kembali{
    background:#beb7aa;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    color:black;
    font-size:14px;
}

/* TITLE */
.cetak-card .judul-box{
    margin-top:15px;
    background:#0f5b9a;
    color:white;
    display:inline-block;
    padding:8px 15px;
    border-radius:8px;
    font-size:14px;
}

/* TABLE */
.cetak-card .table-petugas{
    width:100%;
    margin-top:20px;
    border-collapse:separate;
    border-spacing:0;
    table-layout:fixed;
}

/* HEADER TABLE */
.cetak-card .table-petugas thead th{
    background:#4e95bd;
    color:white;
    padding:12px;
    text-align:center;
    font-size:14px;
}

.cetak-card .table-petugas thead th:first-child{
    border-radius:8px 0 0 8px;
}

.cetak-card .table-petugas thead th:last-child{
    border-radius:0 8px 8px 0;
}

/* BODY */
.cetak-card .table-petugas tbody td{
    padding:14px;
    text-align:center;
    font-size:14px;
}

/* PILIH BUTTON */
.cetak-card .btn-pilih{
    display:inline-flex;
    width:30px;
    height:30px;
    background:#4e95bd;
    border-radius:6px;
    text-decoration:none;
}

/* CHECKBOX */
.cetak-card .check-pilih{
    width:20px;
    height:20px;
    cursor:pointer;
}

/* PRINT BUTTON */
.cetak-card .print-box{
    display:flex;
    justify-content:flex-end;
    margin-top:25px;
}

.cetak-card .btn-print{
    background:#5a5a50;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}