/* CARD */
.pegawai-card{
    background:#dfe5ee;
    border:2px solid #2196f3;
    border-radius:20px;
    min-height:96vh;
    padding:16px;
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.pegawai-card .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.pegawai-card .card-header h2{
    font-size:24px;
    font-weight:bold;
    color:#0d3475;
}

/* HEADER RIGHT */
.pegawai-card .header-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:8px;
}

.pegawai-card .badge{
    background:white;
    padding:12px 20px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
    font-size:14px;
}

.pegawai-card .btn-kembali{
    background:#beb7aa;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    color:black;
}

/* JUDUL KONTRAK */
.pegawai-card .judul-kontrak{
    margin-top:10px;
    background:#0f5b9a;
    color:white;
    display:inline-block;
    padding:8px 15px;
    border-radius:8px;
    font-size:14px;
}

/* ACTION TOP */
.pegawai-card .top-action{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.pegawai-card .btn-tambah{
    background:#4e95bd;
    color:white;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    font-size:14px;
}

.pegawai-card .btn-cetak{
    text-decoration:none;
    font-size:28px;
}

/* TABLE */
.pegawai-card .table-petugas{
    width:100%;
    margin-top:10px;
    border-collapse:separate;
    border-spacing:0;
    table-layout:fixed;
}

/* HEADER TABLE */
.pegawai-card .table-petugas thead th{
    background:#4e95bd;
    color:white;
    padding:12px;
    font-size:14px;
    text-align:center;
}

/* BORDER HEADER */
.pegawai-card .table-petugas thead th:first-child{
    border-radius:8px 0 0 8px;
}

.pegawai-card .table-petugas thead th:last-child{
    border-radius:0 8px 8px 0;
    width:140px;
}

/* BODY TABLE */
.pegawai-card .table-petugas tbody td{
    padding:16px 12px;
    text-align:center;
    font-size:14px;
    vertical-align:middle;
}

/* KOLOM AKSI */
.pegawai-card .table-petugas tbody td:last-child{
    width:140px;
}

/* WRAPPER AKSI */
.pegawai-card .aksi{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width:100%;
}

/* BUTTON AKSI */
.pegawai-card .btn-edit,
.pegawai-card .btn-hapus{
    display:flex;
    align-items:center;
    justify-content:center;
    width:36px;
    height:36px;
    border-radius:8px;
    text-decoration:none;
}

/* EDIT */
.pegawai-card .btn-edit{
    background:#2f80ed;
    color:white;
    font-size:16px;
}

/* HAPUS */
.pegawai-card .btn-hapus{
    background:#eb5757;
    color:white;
    font-size:16px;
}