/* CARD */
.petugas-card{
    background:#dfe5ee;
    border:2px solid #2196f3;
    border-radius:20px;
    min-height:96vh;
    padding:18px;
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.petugas-card .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.petugas-card .card-header h2{
    font-size:24px;
    color:#0d3475;
}

/* RIGHT */
.petugas-card .header-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:8px;
}

.petugas-card .badge{
    background:white;
    padding:12px 20px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
}

.petugas-card .btn-kembali{
    background:#beb7aa;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    color:black;
}

/* JUDUL */
.petugas-card .judul-kontrak{
    margin-top:10px;
    background:#0f5b9a;
    color:white;
    display:inline-block;
    padding:8px 15px;
    border-radius:8px;
}

/* FORM */
.petugas-card .form-area{
    width:60%;
    margin:120px auto 0;
}

.petugas-card .form-row{
    display:flex;
    align-items:center;
    margin-bottom:12px;
}

.petugas-card .form-row label{
    width:180px;
    font-size:14px;
}

.petugas-card .form-row input,
.petugas-card .form-row select{
    width:300px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#4e95bd;
    color:white;
}

/* SAVE */
.petugas-card .save-box{
    display:flex;
    justify-content:flex-end;
    margin-top:30px;
}

.petugas-card .btn-simpan{
    background:#5a5a50;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}