/* GLOBAL */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#eef1f5;
}

/* LAYOUT */
.container{
    display:flex;
}

/* CONTENT GLOBAL */
.content{
    flex:1;
    margin-left:300px;
    padding:20px;
    background:#eef1f5;
    transition:0.4s ease;
}

.content.expanded{
    margin-left:100px;
}

/* DASHBOARD CARD */
.dashboard-card{
    background:#dfe5ee;
    border:2px solid #2196f3;
    border-radius:20px;
    min-height:96vh;
    padding:20px;
}

/* DASHBOARD HEADER */
.dashboard-card .card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.dashboard-card .card-header h2{
    color:#0d3475;
    font-size:28px;
    font-weight:bold;
}

/* DASHBOARD RIGHT */
.dashboard-card .header-right{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

/* BADGE */
.dashboard-card .badge{
    background:white;
    padding:12px 20px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
}

/* GRID */

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:25px;
}

/* CARD */

.info-box{

    position:relative;

    background:#4F97C7;

    border-radius:20px;

    padding:28px;

    cursor:pointer;

    transition:.3s;

    overflow:hidden;

    color:#fff;

}

/* Hover */

.info-box:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 25px rgba(0,0,0,.18);

}

/* ICON */

.card-icon{

    position:absolute;

    top:18px;

    right:20px;

    font-size:70px;

    opacity:.12;

}

/* TITLE */

.card-title{

    font-size:18px;

    font-weight:600;

}

/* ANGKA */

.card-value{

    margin-top:25px;

    font-size:52px;

    font-weight:700;

}

/* LINK */

.card-link{

    margin-top:18px;

    font-size:14px;

    opacity:.9;

}

.card-link i{

    margin-left:5px;

    transition:.3s;

}

.info-box:hover .card-link i{

    transform:translateX(6px);

}
.kontrak-card{
    background:#4F97C7;
}

.bast-card{
    background:#46A36A;
}

.petugas-card{
    background:#F0A44B;
}

.bast-petugas-card{
    background:#7A6FD0;
}